<fildset class="required">
    <legend class="label">
        <span>Delivery Time</span>
    </legend>
    <div>
        <input type="radio" class="required-entry" id="delivery_time" data-validate="{required:true}" name="delivery_time" value="Anytime" />
        <label>My delivery can arrive anytime</label>
    </div>
    <div>
        <input type="radio" class="required-entry" id="delivery_time" data-validate="{'validate-one-required-by-name':true}" name="delivery_time" value="Day" />
        <label>Day (9am - 6pm)</label>
    </div>
    <div>
        <input type="radio" id="delivery_time"  data-validate="{'validate-one-required-by-name':true}" name="delivery_time" value="Night" />
        <label>Night (6pm - 10pm)</label>
    </div>
    <br/>
    <div>
        <input type="checkbox" name="delivery_weekend" value="onWeekends" />
        <label>I accepted weekend deliveries (optional)</label>
    </div>
</fildset>
