<?php
/**
 * Created by PhpStorm.
 * User: lindomar
 * Date: 27/06/18
 * Time: 2:38 PM
 */
?>
<div id="delivery-time">
    <strong><?php echo __('Delivery Time') ?></strong>
    <span class="price"><?php echo $block->getDeliveryTime() ?></span>
</div>

<script type="text/javascript">
    require(
        ['jquery'],
        function($) {
            var element = $('#delivery-time').detach();
            $('.order-shipping-method').append(element);
        }
    );
</script>
